# Task 6.1 - Sourcing Open Data
## Wine Reviews Analysis

In [1]:
# Import libraries

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Create path to 'Wine Analysis' folder

In [4]:
path = r'/Users/cassystunkel/Documents/Wine Analysis'

In [5]:
# Import dataset

In [6]:
df = pd.read_csv(os.path.join(path, 'Data Sets', 'Raw Data', 'wine_data.csv'))

In [7]:
# Check dataset information

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB

In [9]:
# Check for missing values

In [10]:
df.isnull().sum()

Unnamed: 0         0
country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

In [11]:
# Check for duplicates

In [12]:
df_dups = df[df.duplicated()]

In [13]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, country, description, designation, points, price, province, region_1, region_2, variety, winery]
Index: []

In [14]:
# Check column types

In [15]:
df.dtypes

Unnamed: 0       int64
country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [16]:
# Drop unneeded columns from dataset

In [17]:
df = df.drop(columns = ['description', 'designation', 'region_1', 'region_2', 'winery', 'Unnamed: 0'])

In [18]:
# Check headers

In [19]:
df.head()

  country  points  price        province             variety
0      US      96  235.0      California  Cabernet Sauvignon
1   Spain      96  110.0  Northern Spain       Tinta de Toro
2      US      96   90.0      California     Sauvignon Blanc
3      US      96   65.0          Oregon          Pinot Noir
4  France      95   66.0        Provence  Provence red blend

In [20]:
# Change 'points' column data type from integer to string

In [21]:
df['points'] = df['points'].astype('str')

In [22]:
# Re-check data types

In [23]:
df.dtypes

country      object
points       object
price       float64
province     object
variety      object
dtype: object

In [28]:
# Drop missing values present in 'country' and 'province' columns

In [25]:
df_1 = df[df['country'].isnull() == False]

In [26]:
# Check for missing values

In [27]:
df_1.isnull().sum()

country         0
points          0
price       13695
province        0
variety         0
dtype: int64

In [29]:
# Creating new column 'price_missing' to flag the missing values in the 'price' column

In [31]:
df_1['price_missing'] = False

/var/folders/qs/9lwsjk_n1zl8hh4scgkrzq6h0000gn/T/ipykernel_92347/274790268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['price_missing'] = False

In [34]:
# Locate rows where the 'price' column has missing values and set 'price_missing' to True for those rows

In [32]:
df_1.loc[df_1['price'].isnull(), 'price_missing'] = True

In [35]:
# Display the dataframe with the new 'price_missing' column

In [33]:
print(df_1)

       country points  price            province             variety  \
0           US     96  235.0          California  Cabernet Sauvignon
1        Spain     96  110.0      Northern Spain       Tinta de Toro
2           US     96   90.0          California     Sauvignon Blanc
3           US     96   65.0              Oregon          Pinot Noir
4       France     95   66.0            Provence  Provence red blend
...        ...    ...    ...                 ...                 ...
150925   Italy     91   20.0      Southern Italy         White Blend
150926  France     91   27.0           Champagne     Champagne Blend
150927   Italy     91   20.0      Southern Italy         White Blend
150928  France     90   52.0           Champagne     Champagne Blend
150929   Italy     90   15.0  Northeastern Italy        Pinot Grigio

        price_missing
0               False
1               False
2               False
3               False
4               False
...               ...
150925          False
150926          False
150927          False
150928          False
150929          False

[150925 rows x 6 columns]

In [38]:
# Export cleaned and wrangled dataset

In [39]:
df_1.to_csv(os.path.join(path, 'Data Sets', 'Prepared Data', 'wine_data_clean.csv'))